:root {
  --primary-color: #ee4d2d;
  --primary-color-rgba: rgb(238, 77, 45);
  --white-color: white;
  --black-color: black;
  --text-color: #333;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}

/* animation qr-code */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* animation notify (Thông báo) */
@keyframes HeaderNotiGrowth {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* =========== Modal: tạo phần đăng ký ==============*/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

/* Tạo phần mờ xung quanh khi bấm vào đăng ký */
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
  width: 300px;
  height: 300px;
  background-color: var(--white-color);
  margin: auto;
  position: relative;
  /* Thuộc tính z-index sẽ qyết định thg nào nằm trên gần với mắt nhất
   */
  z-index: 1;
  border-radius: 5px;
}
