:root {
  --primary-color: #ee4d2d;
  --primary-color-rgba: rgb(238, 77, 45);
  --white-color: white;
  --black-color: black;
  --text-color: #333;
  --border-color: #dbdbdb;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}

/* animation qr-code */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* animation notify (Thông báo) */
@keyframes HeaderNotiGrowth {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* =========== Modal: tạo phần đăng ký ==============*/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

/* Tạo phần mờ xung quanh khi bấm vào đăng ký */
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
  margin: auto;
  position: relative;
  /* Thuộc tính z-index sẽ qyết định thg nào nằm trên gần với mắt nhất
   */
  z-index: 1;
}

/* button */
.btn {
  width: 140px;
  height: 32px;
  background-color: var(--white-color);
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  padding: 0 12px;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.btn--size-s {
  height: 32px;
  font-size: 1.2rem;
  padding: 0 8px;
}
.btn.btn--normal:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
  color: var(--white-color);
  background-color: var(--primary-color);
}

/* Vô hiệu hóa nút */
.btn.btn--disabled {
  color: #949494;
  cursor: default;
  background-color: #c3c3c3;
}

.auth-form__socials--facebook,
.auth-form__socials--google {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
