.header {
  height: 120px;
  background-image: linear-gradient(0, #fd5f32, #f7432e);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  margin-top: 4px;
  min-height: 16px;
}

.header__navbar-item--has-qr:hover .header__qr {
  /* Khi hover vào sẽ nhận toàn bộ css sang header__qr */
  display: block;
}
.header__navbar-item--has-noti:hover .header__notify {
  display: block;
}
.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}
.header__navbar-icon-link {
  text-decoration: none;

  color: var(--white-color);
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.header__navbar-item-no-pointer {
  cursor: text;
  color: var(--white-color);
}
.header__navbar-item--strong {
  font-weight: 400;
}

.header__navbar-item-separate::after {
  content: "";
  position: absolute;
  display: block;
  border: 1px solid #fb9086;
  height: 15px;
  top: 50%;
  right: -9px;
  transform: translateY(-50%);
}

/* <===== Header qr code =====> */

.header__qr {
  color: var(--white-color);
  width: 186px;
  position: absolute;
  left: 0;
  top: 117%;
  padding: 8px;

  display: none;
  animation: fadeIn ease-in 0.5s;
}

.header__qr::before {
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0px;
  top: -14px;
  content: "";
  display: block;
}

.header__qr-img {
  width: 100%;
  border-radius: 2px;
}

.header__qr-link:first-child {
  margin-left: 11px;
}

.header__qr-link:last-child {
  margin-right: 11px;
}
.header__qr-apps {
  display: flex;
  justify-content: space-between;
}

.header__qr-apps-dowload {
  height: 16px;
}

/* Header phần thông báo */
.header__notify {
  width: 404px;
  position: absolute;
  top: 118%;
  right: 0;
  background-color: var(--white-color);
  border: 1px solid #d3d3d3;
  margin-top: 10px;
  cursor: default;
  display: none;
  transform-origin: calc(100% - 20px) top;
  /* Nói cho trình duyệt biết để tối ưu sài animation */
  will-change: opacity, transform;
  animation: HeaderNotiGrowth ease-in 0.2s;
}

/* Tạo tam giác chỉa đến phần thông báo */
.header__notify::before {
  content: "";
  border-width: 20px 26px;
  border-style: solid;
  position: absolute;
  border-color: transparent transparent var(--white-color) transparent;
  right: 6px;
  top: -34px;
}

.header__notify::after {
  content: "";
  width: 120px;
  height: 20px;

  position: absolute;
  display: block;
  right: 0;
  top: -19px;
}
.header__notify-header {
  height: 40px;
}

.header__notify-header h3 {
  color: #999;
  font-size: 1.4rem;
  margin: 0 0 0 12px;
  font-weight: 400;
  line-height: 40px;
  user-select: none;
}

.header__notify-list {
  padding-left: 0;
}

.header__notify-item {
  display: flex;
}

.header__notify-item:hover {
  background-color: #f7f7f7;
}

.header__notify-item--viewed {
  background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
  text-decoration: none;
  display: flex;
  padding: 12px;
  width: 100%;
}

.header__notify-img {
  width: 40px;
  object-fit: contain;
}

.header__notify-info {
  margin-left: 12px;
}

.header__notify-name {
  color: var(--black-color);
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.header__notify-description {
  color: #756f6e;
  display: block;
  font-size: 1.2rem;
  line-height: 2.5rem;
  margin-top: 4px;
}

.header__notify-footer {
  display: flex;
}

.header__notify-footer-btn {
  text-decoration: none;
  color: var(--black-color);
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 10px 48px;
}

/* ============ Authen modal =============== */

.auth-form {
  width: 500px;
  border-radius: 5px;
  background-color: var(--white-color);
  overflow: hidden;
}
.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 25px 18px 0 18px;
  margin-top: 10px;
}

.auth-form__heading {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-color);
  cursor: pointer;
}

.auth-form__form {
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
}

.auth-form__input:focus {
  border-color: #777;
}
.auth-form__aside {
  margin-top: 22px;
  padding: 0 12px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  text-align: center;
}

.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
}

/* Auth-form control */
.auth-form__controls {
  margin-top: 90px;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.auth-form__socials {
  background-color: #f5f5f5;
  padding: 15px 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  gap: 8px;
}

.btn--with-icon {
  text-decoration: none;
}

.auth-form__socials-icon {
  font-size: 1.8rem;
  margin-right: 35px;
}
.auth-form__socials--facebook {
  color: var(--white-color);
  background-color: #1877f2;
}

.auth-form__socials--facebook .auth-form__socials-icon {
  color: var(--white-color);
}

.auth-form__social-title {
  margin-right: 19px;
}

.auth-form__socials--google {
  color: #666;
  background-color: var(--white-color);
}

.auth-form__socials--facebook,
.auth-form__socials--google {
  width: 100%;
}

.auth-form__help {
  display: flex;
  background-color: var(--white-color);
  justify-content: flex-end;
}

.auth-form__help-link {
  text-decoration: none;
  font-size: 1.4rem;
}

.auth-form__help-link:first-child {
  color: var(--primary-color);
}

.auth-form__help-link:last-child {
  color: #939393;
}

.auth-form__help-separate {
  display: block;
  border: 1px solid #eaeaea;
  height: 18px;
  margin: 0 16px 1px 16px;
}
