.header {
  height: 120px;
  background-image: linear-gradient(0, #fd5f32, #f7432e);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  margin-top: 4px;
  min-height: 16px;
}

.header__navbar-item--has-qr:hover .header__qr {
  /* Khi hover vào sẽ nhận toàn bộ css sang header__qr */
  display: block;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}
.header__navbar-icon-link {
  text-decoration: none;

  color: var(--white-color);
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.header__navbar-item-no-pointer {
  cursor: text;
  color: var(--white-color);
}
.header__navbar-item--strong {
  font-weight: 400;
}

.header__navbar-item-separate::after {
  content: "";
  position: absolute;
  display: block;
  border: 1px solid #fb9086;
  height: 15px;
  top: 50%;
  right: -9px;
  transform: translateY(-50%);
}

/* <===== Header qr code =====> */

.header__qr {
  color: var(--white-color);
  width: 186px;
  position: absolute;
  left: 0;
  top: 117%;
  padding: 8px;

  display: none;
  animation: fadeIn ease-in 0.5s;
}

.header__qr::before {
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0px;
  top: -14px;
  content: "";
  display: block;
}

.header__qr-img {
  width: 100%;
  border-radius: 2px;
}

.header__qr-link:first-child {
  margin-left: 11px;
}

.header__qr-link:last-child {
  margin-right: 11px;
}
.header__qr-apps {
  display: flex;
  justify-content: space-between;
}

.header__qr-apps-dowload {
  height: 16px;
}

/* Header phần thông báo */
.header__notify {
  width: 404px;
  position: absolute;
  top: 118%;
  right: 0;
  background-color: var(--white-color);
  border: 1px solid #d3d3d3;
  margin-top: 10px;
}

.header__notify-header {
  height: 40px;
}

.header__notify-header h3 {
  color: #d3d3d3;
  font-size: 1.4rem;
  margin: 0 0 0 12px;
  font-weight: 400;
  line-height: 40px;
}
.header__notify-list {
  padding-left: 0;
}
.header__notify-item {
  display: flex;
}

.header__notify-item:hover {
  background-color: #f7f7f7;
}

.header__notify-item--viewed {
  background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
  text-decoration: none;
  display: flex;
  padding: 12px;
  width: 100%;
}

.header__notify-img {
  width: 40px;
  object-fit: contain;
}

.header__notify-info {
  margin-left: 12px;
}

.header__notify-name {
  color: var(--black-color);
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
}

.header__notify-description {
  color: #756f6e;
  display: block;
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.header__notify-footer {
  padding: 10px;
  text-align: center;
  margin-top: 6px;
}

.header__notify-footer-btn {
  text-decoration: none;
  color: var(--black-color);
  font-size: 1.6rem;
}
