.header {
  height: 120px;
  background-image: linear-gradient(0, #fd5f32, #f7432e);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  margin-top: 4px;
  min-height: 16px;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}
.header__navbar-icon-link {
  text-decoration: none;

  color: var(--white-color);
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.header__navbar-item-no-pointer {
  cursor: text;
  color: var(--white-color);
}
.header__navbar-item--strong {
  font-weight: 400;
}

.header__navbar-item-separate::after {
  content: "";
  position: absolute;
  display: block;
  border: 1px solid #fb9086;
  height: 15px;
  top: 50%;
  right: -9px;
  transform: translateY(-50%);
}
